@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

html,body {
  font-family: Roboto;
  font-weight: 200;
  height: 100%;
  overflow-y: hidden;
}

@media screen and (max-width: 750px){
  html,body {
    font-family: Roboto;
    font-weight: 200;
    height: 100%;
    overflow-y: scroll;
  }

  .navbar-collapse{
    background:white;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .vertical_align{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    margin-top: -3%;
  }
}

.center_block{
  display: block;
  margin:0 auto;
}
#app,#app>.App{
  height: 100%;
}
.max_height{
  height: 100%;
}
.no-padding-left{
  padding-left:0;
}
.no-padding-right{
  padding-right:0;
}
h1,h2,h3,h4{
  font-weight: 100;
  font-family: Oswald;
}
.row{
  margin:0px;
}

.navbar-default{
  margin-bottom: 0px;
  background-color: white;
  border:0;
  color:rgba(0,0,0,0.54);
  border-bottom:2px solid #f3f3f3;
  height:70px;

}

.navbar-brand{
  padding-left:0;
  font-family: Oswald;
  font-size: 24px;
  line-height: 35px;
}
.navbar .nav li a,.navbar .navbar-header  a{
  color: rgba(0,0,0,0.54);
  text-transform: uppercase;
  font-weight: 400;
}
.navbar .nav li a
{
  font-size: 15px;
  line-height: 40px;
  outline: 0;
}
.navbar .nav li a:hover{
  color: #fddbcb;
}

.act{
  line-height: 33px!important;
  padding-top: 16px!important;
  border-top: 2px solid #fddbcb;
}
.nav_border_left
{
  border-left:1px solid #f3f3f3;
}
.glyphicon-log-out{
  font-weight: 100;
  color: #ba0003;
}

/* DECONNEXION MODAL */
#sign-out-modal{
  background: rgba(203, 203, 203, 0.27);
}
#sign-out-modal .modal-content{
  border-radius: 0;
}
#sign-out-modal .modal-header {
  text-transform: uppercase;
  text-align: center;
  border:0;
}

#sign-out-modal .modal-title{
  font-family:Oswald;

}

#sign-out-modal .modal-body{
  font-family: Roboto;
  font-size:14px;
  font-weight: 100;
}

#sign-out-modal button{
  border-radius: 0;
  text-align: center;
}
/*
*
* HomeView style is here
* Calendar HomeView is here to
* @HomeView
*/
/* CALENDAR */
.fc-view-container
{
  background: white;
}
.fc-toolbar
{
  margin-bottom:-5px!important;
}
.fc-button{
  font-family: Oswald;
  text-transform: uppercase;
  height: 40px!important;
  border-right: 2px solid #f3f3f3!important;
  border-left: 2px solid #f3f3f3!important;
  min-width: 50px!important;
  border-radius: 0!important;
  background: white;
  text-shadow: none;
  outline:none;
  padding:10px;
  margin-left:10px;
  border:none;
}
.fc-left .fc-button:first-child,.fc-right .fc-button:first-child{
  border-right: 0px solid #f3f3f3!important;
}
.fc-state-active{
  border-top:2px solid #fddbcb!important;
  border:0;
  box-shadow: none!important;
}

.fc-agendaDay-button
{
  margin-right:0px!important;
}
.fc-agendaWeek-button{
  margin-left:0px!important;
}
.fc th {
  font-family: Helvetica;
  font-weight: 100;
  text-transform: uppercase;
  height:30px;
  line-height: 30px;
}
.fc-state-active{
  font-weight: 400;
}
/* END CALENDAR */
.col-md-12,.col-xs-12{
  padding:0;
}
#HomeView{
  height:100%;
}

#HomeView #prestaList input{
  margin: 4px;
  width: 95%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #f3f3f3;
  outline: 0;
}
#HomeView #prestaList input::-webkit-input-placeholder,#HomeView #prestaList input:-moz-placeholder,#HomeView #prestaList input::-moz-placeholder,#HomeView #prestaList input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Roboto;
  font-weight: 100;
  font-size:10px;
}
#HomeView #prestaList{
  overflow-y: scroll;
}
#HomeView #prestaList ul {
  height:100%;
  list-style: none;
  border-left:2px solid #f3f3f3;
  padding:0;
  overflow-y: scroll;
}
#HomeView #prestaList ul li{
  color: rgba(0,0,0,0.54);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 40px;
  border-bottom: 1px solid #f3f3f3;
  width: 100%;
  border-right: 1px solid #f3f3f3;
  padding-left:10px;
}

#HomeView #prestaList .active{
  background: #fddbcb;
}
#HomeView #prestaList ul li:hover{
  cursor:pointer;
  background: #fddbcb;
  color:black;
}

#HomeView #prestaList .btn{
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  color: rgba(0,0,0,0.54);
  background-color: #fdece4;
  text-align: center;
  letter-spacing: .5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: .2s ease-out;
  cursor: pointer;

}
#HomeView #prestaList .btn:hover,#HomeView #prestaList .btn:active,#HomeView #prestaList .btn:focus{
  background-color: rgba(253,236,228,0.8);
  color: rgba(0, 0, 0, 1);
  border-radius: 0;
  outline:none;
}

/* CLIENT */

#clientView{
  padding:20px;
}


/**************
PUBLIC
***************/
.AppPublic{
  height: 100vh;
}
.error{
  color:red;
}

.form_sign_in{
  height: 104px;
  width: 90%;
}
.form_sign_in input, .form_sign_in button{
  border-radius: 0;
  margin:5px;
}
.form_sign_in button{
  background:#fddbcb;
  border-color:#fddbcb;
  color:black;
}

.form_sign_in button:hover{
  background:#fddbcb;
  opacity: 0.7;
  border-color:#fddbcb;
}

.byLove
{
  position: absolute;
  bottom:0;
  right:0;
  margin:10px;
  font-size: 10px
}
